<section *ngFor="let car of cars; let i = index" [id]="car.id" class="car">
  <img
    src="../../assets/images/{{ car.id }}.jfif"
    alt="{{ car.text }} Image"
    class="car_img"
  />

  <div class="car_details transform_50">
    <h1 class="model_name">
      {{ car.text }}
    </h1>
    <h2 class="tag_line">
      Order Online for
      <span class="underline cursor-pointer">Touchless Delivery</span>
    </h2>
  </div>

  <div class="car_buttons transform_50">
    <button class="btn">Custom Order</button>
    <button class="btn inventory">Existing Inventory</button>
  </div>

  <a href="#{{ cars[i + 1].id }}" *ngIf="cars.length !== i + 1">
    <svg
      class="down_svg"
      viewBox="0 0 30 30"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke="var(--tds-icon--fill, #171a20)"
        stroke-width="1.5"
        d="m19.5 12.5-4.5 4-4.5-4"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </a>
</section>
